main {
    padding-top: 20vh;
}

.form-group {
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 20px 30px;
    border: 2px solid #000;
    border-radius: 50px;
    font-family: "Unbounded", sans-serif;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #a6b0cf;
    background-color: #f5f6fa;
}

.login-btn {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 50px;
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease;
    border: 2px solid black;
}

.login-btn:hover {
    background: #a6b0cf;

}
