@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 50px;
}

body > main {
    display: flex;
    justify-content: center;
}

h1 {
    color: #000000;
    font-family: "Special Gothic Expanded One", sans-serif;
}


p, a {
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 50px;
    transition: all 0.4s ease;

    display: flex;
    align-items: center;
    gap: 8px;
}

a:hover {
    background-color: #a6b0cf;
}

ul {
    list-style-type: none;
}

span {
    font-family: "Special Gothic Expanded One", sans-serif;
}