<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo.ico" sizes="any">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Vostok</title>
</head>
<body>
    <header>
        <h1>Vostok</h1>
        <ul>
            <li><a href="#cart" class="cart">Корзина <img src="/static/images/index/shopping_bag_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" alt="cart"></a></li>
            <li><a href="#login">Войти <img src="/static/images/index/login_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" alt="login"></a></li>
            <li><a href="/app/templates/registration.html">Зарегистрироваться <img src="/static/images/index/error_med_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" alt="registration"></a></li>
        </ul>
    </header>
    <main>
        <div class="description">
            <div class="text">
                <p class="what">Что такое <span>Vostok?</span></p>
                <p>Восток - это крупнейший маркет плейс на мировом рынке.</p>
            </div>
            <img src="/static/images/index/undraw_my-universe_qqch.svg" alt="img1">
        </div>
    </main>
</body>
</html>